<a href="https://colab.research.google.com/github/Vrush-cmd/Predicting-the-Risk-of-Diabetes/blob/main/Predicting_the_Risk_of_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train = pd.read_excel('Train.xlsx')
df_test = pd.read_excel('Test.xlsx')

In [4]:
df_train.shape

(500, 17)

In [5]:
df_test.shape

(20, 16)

In [6]:
df_train.dtypes

Age                   float64
Gender                 object
Polyuria               object
Polydipsia             object
sudden weight loss     object
weakness               object
Polyphagia             object
Genital thrush         object
visual blurring        object
Itching                object
Irritability           object
delayed healing        object
partial paresis        object
muscle stiffness       object
Alopecia               object
Obesity                object
class                  object
dtype: object

In [7]:
df_train.isna().sum()

Age                   33
Gender                 0
Polyuria               0
Polydipsia             0
sudden weight loss     0
weakness               9
Polyphagia             0
Genital thrush         7
visual blurring        7
Itching                0
Irritability           8
delayed healing        0
partial paresis        4
muscle stiffness       0
Alopecia               0
Obesity                0
class                  0
dtype: int64

In [8]:
df_train['Age'].fillna(value=df_train['Age'].mean(),inplace=True)

In [9]:
df_train.isna().sum()

Age                   0
Gender                0
Polyuria              0
Polydipsia            0
sudden weight loss    0
weakness              9
Polyphagia            0
Genital thrush        7
visual blurring       7
Itching               0
Irritability          8
delayed healing       0
partial paresis       4
muscle stiffness      0
Alopecia              0
Obesity               0
class                 0
dtype: int64

In [10]:
df_train['weakness'].fillna(value=df_train['weakness'].mode()[0],inplace=True)

In [11]:
df_train['Genital thrush'].fillna(value=df_train['Genital thrush'].mode()[0],inplace=True)

In [12]:
df_train.isna().sum()

Age                   0
Gender                0
Polyuria              0
Polydipsia            0
sudden weight loss    0
weakness              0
Polyphagia            0
Genital thrush        0
visual blurring       7
Itching               0
Irritability          8
delayed healing       0
partial paresis       4
muscle stiffness      0
Alopecia              0
Obesity               0
class                 0
dtype: int64

In [13]:
df_train['visual blurring'].fillna(value=df_train['visual blurring'].mode()[0],inplace=True)

In [14]:
df_train['Irritability'].fillna(value=df_train['Irritability'].mode()[0],inplace=True)

In [15]:
df_train['partial paresis'].fillna(value=df_train['partial paresis'].mode()[0],inplace=True)

In [16]:
df_train.isna().sum()

Age                   0
Gender                0
Polyuria              0
Polydipsia            0
sudden weight loss    0
weakness              0
Polyphagia            0
Genital thrush        0
visual blurring       0
Itching               0
Irritability          0
delayed healing       0
partial paresis       0
muscle stiffness      0
Alopecia              0
Obesity               0
class                 0
dtype: int64

In [17]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, Normalizer, Binarizer, LabelEncoder
for c in df_train.columns:
    if df_train[c].dtype == 'object':
        lbl = LabelEncoder()
        lbl.fit(list(df_train[c].values)) 
        df_train[c] = lbl.transform(list(df_train[c].values))
        
df_train.describe().T

                    count       mean        std   min   25%   50%   75%   max
Age                 500.0  48.109208  11.829062  16.0  39.0  48.0  56.0  90.0
Gender              500.0   0.626000   0.484348   0.0   0.0   1.0   1.0   1.0
Polyuria            500.0   0.498000   0.500497   0.0   0.0   0.0   1.0   1.0
Polydipsia          500.0   0.442000   0.497122   0.0   0.0   0.0   1.0   1.0
sudden weight loss  500.0   0.416000   0.493387   0.0   0.0   0.0   1.0   1.0
weakness            500.0   0.584000   0.493387   0.0   0.0   1.0   1.0   1.0
Polyphagia          500.0   0.454000   0.498378   0.0   0.0   0.0   1.0   1.0
Genital thrush      500.0   0.224000   0.417340   0.0   0.0   0.0   0.0   1.0
visual blurring     500.0   0.442000   0.497122   0.0   0.0   0.0   1.0   1.0
Itching             500.0   0.488000   0.500357   0.0   0.0   0.0   1.0   1.0
Irritability        500.0   0.242000   0.428723   0.0   0.0   0.0   0.0   1.0
delayed healing     500.0   0.464000   0.499202   0.0   0.0   0.0   1.0   1.0
partial paresis     500.0   0.426000   0.494989   0.0   0.0   0.0   1.0   1.0
muscle stiffness    500.0   0.366000   0.482192   0.0   0.0   0.0   1.0   1.0
Alopecia            500.0   0.346000   0.476170   0.0   0.0   0.0   1.0   1.0
Obesity             500.0   0.164000   0.370646   0.0   0.0   0.0   0.0   1.0
class               500.0   0.618000   0.486363   0.0   0.0   1.0   1.0   1.0

In [18]:
df_train.head()

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40.000000,1,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1
1,58.000000,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1
2,41.000000,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1
3,48.109208,1,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1
4,60.000000,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1

In [19]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 15 non-null     float64
 1   Gender              16 non-null     object
 2   Polyuria            20 non-null     object
 3   Polydipsia          20 non-null     object
 4   sudden weight loss  18 non-null     object
 5   weakness            20 non-null     object
 6   Polyphagia          17 non-null     object
 7   Genital thrush      20 non-null     object
 8   visual blurring     20 non-null     object
 9   Itching             18 non-null     object
 10  Irritability        17 non-null     object
 11  delayed healing     20 non-null     object
 12  partial paresis     20 non-null     object
 13  muscle stiffness    17 non-null     object
 14  Alopecia            20 non-null     object
 15  Obesity             20 non-null     object
dtypes: float64(1), object(15)
memory usage: 2.6+ KB

In [20]:
df_test.isna().sum()

Age                   5
Gender                4
Polyuria              0
Polydipsia            0
sudden weight loss    2
weakness              0
Polyphagia            3
Genital thrush        0
visual blurring       0
Itching               2
Irritability          3
delayed healing       0
partial paresis       0
muscle stiffness      3
Alopecia              0
Obesity               0
dtype: int64

In [21]:
df_test['Age'].fillna(value=df_test['Age'].mean(),inplace=True)

In [22]:
df_test['Gender'].fillna(value=df_test['Gender'].mode()[0],inplace=True)

In [23]:
df_test.isna().sum()

Age                   0
Gender                0
Polyuria              0
Polydipsia            0
sudden weight loss    2
weakness              0
Polyphagia            3
Genital thrush        0
visual blurring       0
Itching               2
Irritability          3
delayed healing       0
partial paresis       0
muscle stiffness      3
Alopecia              0
Obesity               0
dtype: int64

In [24]:
df_test['sudden weight loss'].fillna(value=df_test['sudden weight loss'].mode()[0],inplace=True)

In [25]:
df_test['Polyphagia'].fillna(value=df_test['Polyphagia'].mode()[0],inplace=True)

In [26]:
df_test['Itching'].fillna(value=df_test['Itching'].mode()[0],inplace=True)

In [27]:
df_test['Irritability'].fillna(value=df_test['Irritability'].mode()[0],inplace=True)

In [28]:
df_test['muscle stiffness'].fillna(value=df_test['muscle stiffness'].mode()[0],inplace=True)

In [29]:
df_test.isna().sum()

Age                   0
Gender                0
Polyuria              0
Polydipsia            0
sudden weight loss    0
weakness              0
Polyphagia            0
Genital thrush        0
visual blurring       0
Itching               0
Irritability          0
delayed healing       0
partial paresis       0
muscle stiffness      0
Alopecia              0
Obesity               0
dtype: int64

In [30]:
from sklearn.model_selection import train_test_split, cross_val_score, KFold

In [31]:
X = df_train.drop('class', axis=1)
y = df_train['class']

X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                    test_size=0.2,
                                                   random_state=0)
print('X_train: ',X_train.shape)
print('X_test: ',X_test.shape)
print('y_train: ',y_train.shape)
print('y_test: ',y_test.shape)

X_train:  (400, 16)
X_test:  (100, 16)
y_train:  (400,)
y_test:  (100,)

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
lr=LogisticRegression()

In [35]:
lr.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [37]:
lr_pred=lr.predict(X_test)

In [38]:
lr_pred

array([1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0])

In [39]:
lr.score(X,y)

0.934

In [41]:
for c in df_test.columns:
    if df_test[c].dtype == 'object':
        lbl = LabelEncoder()
        lbl.fit(list(df_test[c].values)) 
        df_test[c] = lbl.transform(list(df_test[c].values))

In [42]:
y_pred = lr.predict(df_test)

In [45]:
submission = pd.DataFrame({
    'class': y_pred,
})

In [46]:
submission.head()

   class
0      1
1      1
2      1
3      1
4      1

In [47]:
submission[submission==0]='Negative'

In [48]:
submission[submission==1]='Positive'

In [49]:
submission

       class
0   Positive
1   Positive
2   Positive
3   Positive
4   Positive
5   Positive
6   Positive
7   Positive
8   Positive
9   Negative
10  Negative
11  Negative
12  Negative
13  Negative
14  Positive
15  Positive
16  Positive
17  Positive
18  Negative
19  Negative

In [50]:
submission.to_csv("submission.csv", index=False)